<template>
  <div class="container">
    <header-game v-if="!isNewGame || !isMobile"/>
    <template v-if="!isNewGame">
      <div class="game-info">
        <input v-model="nickname" @keyup.enter="createGame" type="text" 
                id="nickname" placeholder="Type your nickname here...">
        <button type="submit" @click.prevent="createGame">Play</button>
      </div>
        <div class="game-mode">
          <span><strong>Mode: </strong></span>
          <label for="easy">
            <input type="radio" id="easy" name="mode" value=12  @change="toggleMode" v-model.number="localMode"><span>Easy</span>
          </label>
          <label for="medium">
            <input type="radio" id="medium" name="mode" value=24  @change="toggleMode" v-model.number="localMode"><span>Medium</span>
          </label>
          <label for="hard">
            <input type="radio" id="hard" name="mode" value=36  @change="toggleMode" v-model.number="localMode"><span>Hard</span>
          </label>
        </div>
        <Record :mode="mode"/>
    </template>
    <template v-if="isNewGame" >
      <Board />
      <button class="back" @click="back">Back</button>
    </template>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { mapMutations, mapActions } from 'vuex'
import Board from '@/components/Board'
import Record from '@/components/Record'
export default {
  name: 'game',
  components: {
    Board, Record
  },
  data() {
    return { 
      showUserInfo: false,
      nickname: ''
    }
  },
  computed: {
    ...mapGetters(['isNewGame', 'getBoard', 'getCountries', 'mode']),
    localMode: {
      get(){
        return this.mode
      },
      set(newMode){
        this.setMode(newMode)
      } 
    },
    isMobile() {
      return window.innerWidth <= 600 ? true : false
    }
  },
  methods: {
    ...mapMutations(['toggleNewGame','setUser', 'generateBoard', 'toggleCanPlay', 'resetMoves', 'setMode']),
    ...mapActions(['prepareGame']),
    toggleMode(event) {
      this.setMode(+event.target.value)
    },
    createGame() {
      //this.toggleNewGame(true)
      this.setUser(this.nickname)
      //this.setMode(this.mode)
      this.prepareGame()
      this.createBoard()
      //this.resetMoves()
    },
    createBoard() {
      // Sorting the countries before select the mode
      let arrayTemp = Array.from(this.getCountries);
      for (let i = arrayTemp.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [arrayTemp[i], arrayTemp[j]] = [arrayTemp[j], arrayTemp[i]];
      }
      
      // Selecting the countries based on mode
      let countriesSelected = arrayTemp.slice(0, this.mode)

      // Preparing the board
      let array = []
      for(let i = 1; i <= countriesSelected.length * 2; i++) {
        array.push({
          id: i,
          text: countriesSelected[(i % countriesSelected.length)],
          clicked: false,
          active: true
        })
      }
      // Sorting the board
      this.generateBoard(array.sort(() => {
        return .5 - Math.random();
      }))
      // Release the board to play
      this.toggleCanPlay(true)
    },
    back() {
      this.toggleNewGame(false)
    }
  }
}
</script>

<style scoped>
  .container {
    display: flex;
    width: 1000px;
    flex-direction: column;
    align-items: center;
  }

  button {
    color: #05668d;
    background-color: white;
    border: 1px solid #05668d;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 5px;
  }

  button:hover {
    color: white;
    background-color: #05668d;
  }

  .game-info input {
    font-size: 1.1em;
    width: 250px;
    height: 35px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #afafaf;
    padding: 5px;
  }

  .game-info button {
    position: relative;
    top: 1px;
    width: 60px;
    height: 34px;
    margin-left: 15px;
  }

  [type='radio'] {
    width: 20px;
    height: 30px;
  }

  .game-mode {
    margin-top: 30px;
  }

  .game-mode span {
    position: relative;
    top: -10px;
    margin-right: 20px;
    margin-left: 5px;
  }

  button.back {
    margin-top: 15px;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .container {
      width: 100%;
    }

    button.back {
      margin-top: 5px;
    }
  }
</style>
