<template>
  <div class="container-board">
    <div v-if="!isFinished" class="user-info">
      <div><strong>Player: </strong>{{ nickname }}</div>
      <div class="mode"><strong><i v-for="i in (mode / 12)" class="far fa-star" :key="i"></i></strong></div>
      <div><strong>Moves: </strong>{{ moves }}</div>
      {{ time }}
    </div>
    <div v-if="isFinished" class="message">
      Congratulations, {{ nickname }}! You've finished the game in {{ moves }} moves ({{ gameTime }}s).
      <span v-if="isNewRecord">New Record!</span>
    </div>
    <div class="board" :style="updateWidth">
      <ItemFlag v-for="flag in getBoard" :flag="flag" @onflagclick="handleFlagClick" :key="flag.id" />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import ItemFlag from '@/components/ItemFlag.vue'
import tools from '@/tools/index.js'
let timer = null
export default {
  name: 'Board',
  data() {
    return {
      time: 0,
      isNewRecord: false
    }
  },
  components: { ItemFlag },
  computed: {
    ...mapGetters(['nickname', 'getBoard', 'moves', 'isFinished', 'mode', 'gameTime']),
    isMobile() {
      return window.innerWidth <= 600 ? true : false
    },
    updateWidth() {
      if (!this.isMobile) {
        if (this.mode === 36) {
          return 'width: 1160px;'
        } else if (this.mode === 24) {
          return 'width: 780px;'
        } 
        return 'width: 590px;'
      }
      return 'width: 100%;'
    }
  },
  watch: {
    isFinished(val) {
      // If game has finished
      if (val) {
        this.setGameTime(this.time)
        let bestPlayer = localStorage.getItem('bestPlayer')
        
        // ranking doesn't exist
        if (!bestPlayer) {
          bestPlayer = { }
        } else {
          bestPlayer = JSON.parse(bestPlayer)
        }
        // ranking doesn't exist for a specific mode
        if (!bestPlayer[this.mode]) {
          bestPlayer[this.mode] = {
              player: this.nickname,
              moves: this.moves,
              gametime: this.gameTime
          }
          this.isNewRecord = true
        } else {
          if ((this.moves < bestPlayer[this.mode].moves) || (this.moves === bestPlayer[this.mode].moves && this.gameTime < bestPlayer[this.mode].gametime)) {
            this.isNewRecord = true
            bestPlayer[this.mode].player = this.nickname
            bestPlayer[this.mode].moves = this.moves
            bestPlayer[this.mode].gametime = this.gameTime
          }
        }
        tools.setBestPlayer(bestPlayer)
        clearInterval(timer)
      }
    }
  },
  methods: {
    ...mapMutations(['increaseMoves', 'toggleCanPlay', 'setGameTime']),
    handleFlagClick() {
      this.increaseMoves()
      this.toggleCanPlay(false)
      setTimeout(() => {
        // Checks if 2 flags have been selected.
        if (!(this.moves % 2)) {
          let selected = this.getBoard.filter(flag => {
            return flag.clicked == true;
          })

          // Checks if the flags are equals
          if (selected[0].text == selected[1].text) {
            selected[0].active = false;
            selected[1].active = false;
          }

          selected[0].clicked = false
          selected[1].clicked = false
        }

        this.toggleCanPlay(true)
      }, 1000)
    }
  },
  created() {
    // Game time counter
    clearInterval(timer)
    timer = setInterval(() => {
      this.time = this.time + 1
    }, 1000)
  },
  destroyed() {
    clearInterval(timer)
  }
}
</script>

<style>
  .container-board {
    display: flex;
    /* width: 590px; */
    flex-direction: column;
    align-items: center;
  }
  
  .user-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    width: 590px;
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 20px;
    padding-bottom: 15px;
    /* width: 1160px;  TODO  Must be parameterized */
    border: 1px solid #dfdfdf;
    border-radius: 5px;
  }

  .message {
    font-size: 1.1em;
    margin-top: 15px;
  }

  i {
    margin-left: 5px;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .container-board {
      /* display: flex; */
      /* width: 800px; */
      width: 100%;
      /* flex-direction: column; */
      /* align-items: center; */
    }

    .board {
      padding-bottom: 5px;
    }

    .user-info {
      margin: 0px;
      padding: 0 5px 0 5px;
      /* display: flex; */
      justify-content: space-between;
      font-size: 1.0em;
      width: 100%;
    }

    .mode {
      display: none;
    }
    
    .board {
      /* display: flex; */
      /* width: 100%; */
      margin-top: 5px;
    }
  }
</style>
