<template>
  <div class="header">
    <h1>Fun With Flags</h1>
    <span>A card memory game with flags. Enjoy it!</span>
  </div>
</template>

<style scoped>
  .header {
    flex: 0 1 auto; /* flex-grow flex-shrink flex-basis */
    width: 100%;
  }

  .header > h1 {
    font-family: cursive;
    font-size: 3.4em;
    margin-bottom: 5px;
    letter-spacing: 0.2em;
  }

  .header > span {
    font-size: 1.2em;
  }
</style>
