<template>
  <div class="flag" @click="doClick" :class="[!flag.active ? 'inactive animate__animated animate__rubberBand' : ' ']">
    <transition leave-active-class="animate__animated animate__flipOutY animate__faster" 
                enter-active-class="animate__animated animate__flipInY animate__faster">
      <img v-if="flag.clicked || !flag.active" class="img-flag"
          :src="require(`@/assets/images/${flag.text}.gif`)">
    </transition>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'ItemFlag',
  props: {
    flag: {
      type: Object,
      required: true
    },
  },
  computed: {
    ...mapGetters(['canPlay'])
  },
  methods: {
    doClick() {
      if(this.canPlay && this.flag.active && !this.flag.clicked) {
        this.flag.clicked = true;
        this.$emit('onflagclick');
      }
    }
  }
}
</script>

<style scoped>
  .flag {
    /* flex: 0 1 auto; */
    float: left;
    margin: 15px 0 0 15px;
    width: 80px;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    /* border: 1px solid #bbbbbb; */
    border: 1px solid #dfdfdf;
  }

  .img-flag {
    /* width: 80px; */
    width: 100%;
    /* height: 51px; */
    height: 100%;
    border-radius: 8px;
  }

  .inactive {
    cursor: not-allowed;
    /* opacity: 1.0; */
    /* border: 1px solid #bbb; */
    /* border: 1px solid #dfdfdf; */
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .flag {
      margin: 5px 0 0 5px;
      width: 15%;
      height: calc(50px * 0.80);
    }

    .img-flag {
      width: 100%;
      height: calc(50px * 0.80);
      border-radius: 8px;
    }
  }
</style>
