<template>
  <div class="ranking">
    <div>Best: {{ bestPlayer ? bestPlayer.player : '-' }} </div>
    <div>Moves: {{ bestPlayer ? bestPlayer.moves : '-' }} </div>
    <div>Time: {{ bestPlayer ? bestPlayer.gametime + 's' : '-' }} </div>
  </div>
</template>

<script>
import tools from '@/tools/index.js'
export default {
  props: {
    mode: {
      required: true
    }
  },
  data() {
    return {
      bestPlayer: {
        player: '',
        moves: 0,
        gametime: 0
      }
    }
  },
  watch: {
      mode() {
        this.bestPlayer = tools.bestPlayer(this.mode)
      }
  },
  mounted() {
    this.bestPlayer = tools.bestPlayer(this.mode)
  }
}
</script>

<style >
  .ranking {
    display: flex;
    justify-content: space-between;
    width: 390px;
    margin: 10px 120px;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .ranking {
      /* display: flex;
      justify-content: space-between; */
      padding: 0 5px 0 5px;
      width: 100%;
    }
  }
</style>
