<template>
    <div id="app">
        <Game />
    </div>
</template>

<script>
import Game from '@/views/Game.vue'
export default {
    components: { Game }
}
</script>

<style>
    * {
        box-sizing: border-box;
        margin: 0px;
    }

    #app {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
</style>
